<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         stopOnFailure="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false">

    <testsuites>
        <testsuite name="Full Wulaphp Test Suite">
            <directory suffix="Test.php">Tests/database</directory>
            <directory suffix="Test.php">Tests/common</directory>
            <directory suffix="Test.php">Tests/view</directory>
            <directory suffix="Test.php">Tests/module</directory>
            <directory suffix="Test.php">Tests/io</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>legacy</group>
        </exclude>
    </groups>
</phpunit>